@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

:root {
  --labels-size: 0.6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Antique B1', Arial, Helvetica, sans-serif;
}

[class^='box-'] {
  /* border: dotted; */
  display: grid;
  place-items: center;
}

.box-1 {
  grid-area: A;
}
.box-2 {
  grid-area: B;
}

.container {
  display: grid;
  gap: 0.1vh;
  height: 50vh;
  grid-template-columns: auto 20vh auto;
  grid-template-rows: 8vw auto;
  grid-template-areas:
    'A A A A   A A A A   A A A A'
    'B B B B   B B B B   B B B B';
  justify-items: center;
}

body {
  font-size: 3em;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 49, 151, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: azure;
  width: 100%;
  min-height: 100vh;
}

.btn {
  display: inline-flexbox;
  margin: 1em;
  font-size: 0.3em;
  text-transform: uppercase;
  border-collapse: collapse;
  text-align: center;
  padding: 1vh 2vh;
  border-radius: 8px;
  text-decoration: none;
  border-style: none;
  box-shadow: 2em;
}

.opt-btn {
  background-color: aliceblue;
  color: darkblue;
}

.btn:hover {
  background-color: darkblue;
  color: aliceblue;
  transition: ease-in-out 0.3s;
}

.title-1 {
  justify-content: left;
  align-content: left;
}

.title-2 {
  font-size: 0.8em;
}

.ddMenu {
  size: 1rem;
  font-size: var (--labels-size);
}

.author {
  font-size: 3vh;
}

.choose-legend {
  display: inline-grid;
  margin-right: 0.3vmax;
  font-size: var(--labels-size);
  margin-bottom: 0.7em;
}

.input {
  padding: 0.1rem;
  margin-bottom: 0.5em;
  border: 2px solid darkblue;
  font-size: 0.6em;
  background-color: aliceblue;
  border-radius: 8px;
}

.result {
  background-color: rgb(129, 175, 59);
}

.label {
  display: flex;
  font-size: 0.6em;
}

.lbl-unit {
  font-size: 0.6em;
}

.forms {
  margin-top: 1em;
  font-size: 1.8rem;
  align-items: center;
  justify-items: center;
  background-color: aliceblue;
  color: black;
  padding: 0.2em 1em 0.6em 1em;
  box-shadow: 30px;
  border-radius: 8px;
}
